{% include 'main.html' %}
<head>
	<title>MY HTML DELIVERY PAGE</title>
	<style type="text/css">
		body{
			background-color: lightgray;
		}
		.main-div{
			margin: 1%;
			padding: 2%;
			border: 1px solid black;
			border-radius: 10px;
			background-color: lightblue;
			min-height: 580px;
		}
		.delivery-table{
			background-color: white;
			width: 90%;
			margin-left: 5%;
			border-radius: 20px;
		}
		.paid-button{
			background-color: red;
			color: white;
			width: 100%;
			border-radius: 20px;
		}
	</style>
</head>
<body>
	<div class="main-div">
		{% if count1 == 0 %}
			<div>
				<img width="100%" height="530" src="https://media.istockphoto.com/vectors/student-at-work-concept-student-as-a-pizza-delivery-person-riding-vector-id1300233107?k=6&m=1300233107&s=612x612&w=0&h=6SVyqXYIcQXVgHc4Euv-YafE69vXpwB4vDLbIzVobjA=">
				<h3><strong><b style="color: red;">YOUR JOB IS DONE SUCCESSFULLY !!!</b></strong></h3>
			</div>
		{% else %}
			{% for i in all_data1 %}
				<div class="delivery-table">
					<table style="font-size: 25px;" cellpadding="10">
						<tr><th>User Name </th><th>: &nbsp{{i.user}}</th></tr>
						<tr><th>Bill Address </th><th>: &nbsp{{i.bill_addrs}}</th></tr>
						<tr><th>Phone Number </th><th>: &nbsp{{i.phone}}</th></tr>
						<tr><th>Grand Total </th><th style="color: crimson">: &nbsp{{i.grand_total_all}}</th></tr>
					</table>
					<a href="{% url 'stock1:delivered1' i.id %}"><button class="paid-button">PAYMENT COLLECTED SUCCESSFULLY</button></a>
				</div><hr>
			{% endfor %}
		{% endif %}
		
	</div>
</body>
