{% include 'main.html' %}
<head>
	<style type="text/css">
		body{
			background-color: black;
			color: green;
		}
		.pay-div-align{
			width: 80%;
			margin-left: 10%;
			text-align: center;
			border:5px solid gray;
			padding: 2%;
			margin-top: 1%;
		}
		hr{
			color:white;
		}
		table{
			width: 60%;
			margin-left: 20%;
			text-align: left;
		}
		button{
			color: white;
			background-color: red;
		}
	</style>
</head>
<body>
	<div class="pay-div-align">
		<hr><h3>PAYMENT_COMPLETED_SUCCESSFULLY</h3><hr>
		<u><h4>Details :</h4></u><hr>
		<div class="pay-div-align-in">
			{% for i in price_filter1 %}
			<table cellpadding="10" cellspacing="10">
					<tr><th>Unit price </th><th>: {{i.price}}</th><th rowspan="3"><img width="100" height="100" src="{{i.img}}"></th></tr>
					<tr><th>Quantity</th><th>: {{qty_filter1.quantity}}</th></tr>
					<tr><th>Amount_Paid</th><th style="color:red;">: {{total_price}}</th></tr>
					<tr><th>Contact_Number</th><th>: {{reg_no1}}</th></tr>
					<tr><th>Billing Address & Shipping Address</th><th>: {{adrs}}</th></tr>
				</table><hr><hr>
			{% endfor %}
			<a href="{% url 'stock1:index1'%}"><button>More_Items</button></a>
		</div>
	</div>
</body>